[submodule "lain"]
	path = lain
	url = https://github.com/lcpz/lain.git

[submodule "freedesktop"]
	path = freedesktop
	url = https://github.com/lcpz/awesome-freedesktop.git

[submodule "awesome-switcher"]
	path = awesome-switcher
	url = https://github.com/sleroq/awesome-switcher.git
