* {
  all: unset;
  font-family: Noto Nerd Font;
}

.bar {
  background-color: #3a3a3a;
  color: #b0b4bc;
}

.metric scale trough {
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.metric scale trough highlight {
  background-color: #8aadf4;
}

.workspaces .bb:hover {
  color: #8aadf4;
}
